body {
    font-family: Arial, sans-serif;
    background-image: url('/Users/subhraneel/Desktop/LOVE TO LEARN/PROJECTS (HTML)/4th Year Project/Final Stage/FeedoUp/b1.jpg');
    background-size: cover;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    /* Translucent background */
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}